/* global.css */
html {
  font-family: "Poppins";
  line-height: 1.7;
}
section {
  padding: 4rem 1rem 5rem 1rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.separator {
  border: none;
  height: 2px;
  background: #82c2db;
  width: 10%;
  margin: 1.2rem auto 2.5rem auto;
}
strong {
  font-weight: 600;
}
